<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1><%= @user.name.capitalize %>'s Events</h1>

    <% if @user.attended_events.future.any? %>
      <h3>Upcoming Events</h3>
      <ul>

        <% @user.attended_events.future.each do |event| %>
          <li><%= link_to "#{event.title}", event_path(event) %></li>
        <% end %>

      </ul>
    <% end %>

    <% if @user.attended_events.past.any? %>
      <h3>Past Events</h3>
        <ul>
          <% @user.attended_events.past.each do |event| %>
            <li><%= link_to "#{event.title}", event_path(event) %></li>
          <% end %>
        </ul>
    <% end %>

  </div>
</div>
