<h1>All Events</h1>

<% @events.each do |event| %>
  <h3><%= event.title %></h3>
  <small>
    <%= event.location %>,
    <%= event.date.to_date.to_formatted_s :long_ordinal %>
  </small>
  <p><%= event.description %></p>
  <hr>
<% end %>
