body, header {
  background-color: #fff;
  font-family: 'Libre Fanklin';
}
#navbar-custom {
  background-color: #fff;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#logo, h1 {
  color: #f6682f;
}

#map {
   width: 100%;
   height: 300px;
}



/* forms */
/*
label, input {
  display: block;
}
*/
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;

  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
