body, header {
  background-color: #fff;
  font-family: 'Libre Fanklin';
}
#navbar-custom {
  background-color: #fff;
}


#logo, h1 {
  color: #f6682f;
}



/* forms */

label, input {
  display: block;
}
